
iframe{
	position:absolute;
	width: 40%;
	height: 40%;
}

body{
	
	margin-left: 32%;
	background-color: #303030;
	color: #919191;

}

.header .menu{

	margin-left: -60%;
	width: inherit;
	height: 50px;
	background:#3e3436;
	display:inline-block;
}

.forminline{

	display:inline;

}

input[type = "textbox"]{

	width: 250px;
	height: 20px;
 	border: 1px solid;
    border-radius: 7px;

}

textarea{

 	border: 1px solid;
    border-radius: 7px;

}